<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--google-signin-client_id meta element-->
    <meta name="google-signin-client_id" content="480661915725-5nfits9a4bhkoeta9jnc71s8g97eubee.apps.googleusercontent.com">
    <title>Project_1</title>
    <!--Google Platform Library -->
    <!--You must include the Google Platform Library on your web pages that integrate Google Sign-In.-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


</head>
<body>
  
    <div class="container">
    <!--Google Sign-In button that uses the default settings,-->
    <div class="g-signin2" data-onsuccess="onSignIn">Sign in</div>

    <!-- Display Google sign-in button -->
    <div id="gSignIn"></div>

    <!-- Show the user profile details -->
    <div class="userContent" style="display: none;"></div>
 

    <!--Sign out a user-->
    <button class="signout-button"><a href="#" onclick="signOut();">Sign out</a></button>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      }

      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>  
    </div> 
</body>
</html>