<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/public/styles/profile.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body class="col s12">
    <section>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo left">Foods-To-Do</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="recommendations.html">Recommendations</a></li>
                    <li><a href="profile.html"><i class="material-icons">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="recommendations.html">Recommendations</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>

    </section>
    <div class="about-me col s12 m8 offset-m2 l6 offset-l3">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="/public/images/default_profile.png" alt="profilepic" class="profile-pic circle responsive-img right">
            </div>
            <div class="col s10">
                <h2 class="s4 m6 l8">Homer Simpson</h2>
                <p>
                    I like food. I'm always hungry.
                </p>
            </div>
        </div>
    </div>
    <section class="recent-eats col s12">
        <div class="row center-align">
            <h4 class="col s12 center-align">Recent Eats</h4>
            <div class="left-column col s12 m12 l4">
                <a href="https://boudinbakery.com/home/">
                    <img src="/public/images/boudin.jpeg" alt="Boudin" class="responsive-img">
                </a>
                <p>
                    What I ate: Broccoli Cheddar Soup in Bread Bowl.<br>
                    Rating:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>
            </div>

            <div class="middle-column col s12 m12 l4">
                <a href="http://sunsetbeersf.com/">
                    <img src="/public/images/sunsetreservoir.png" alt="Sunset-Reservoir" class="responsive-img">
                </a>
                <p>
                    What I ate: Grilled Flat Iron Steak.<br>
                    Rating:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </p>
            </div>
            <div class="right-column col s12 m12 l4">
                <img src="/public/images/latable.jpg" alt="The Table" class="responsive-img">
                <p>
                    What I ate: Braised Short Ribs.<br>
                    Rating:
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>
            </div>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="/public/scripts/profile.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

</body>

</html>