<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recommendations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" media="screen" href="/public/styles/recommendations.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
    <section class="nav-container">
        <nav>
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo left">Foods-To-Do</a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="recommendations.html">Recommendations</a></li>
                    <li><a href="profile.html"><i class="material-icons">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="recommendations.html">Recommendations</a></li>
            <li><a href="profile.html"><i class="material-icons">account_circle</i></a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </section>

    <section class="main s6 row">
        <div class="row s6">
            <div class="col s12 m3 l2 push-l1">
                <div class="card">
                    <div class="card-image">
                        <img src="/public/images/akiko.jpg">
                        <span class="card-title">Akiko's</span>
                    </div>
                    <div class="card-content">
                        <h6>Review</h6>
                        <p>Good food, great ambience, 5/5.</p>
                    </div>
                    <div class="card-action">
                        <a href="http://www.akikossushibar.com/">Akiko's</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m3 l2 push-l1">
                <div class="card">
                    <div class="card-image">
                        <img src="/public/images/house-of-bagels.jpg">
                        <span class="card-title">House of Bagels</span>
                    </div>
                    <div class="card-content">
                        <h6>Review</h6>
                        <p>Good food, great ambience, 5/5.</p>
                    </div>
                    <div class="card-action">
                        <a href="http://houseofbagels.com/site/">House of Bagels</a>
                    </div>
                </div>
            </div>

            <section class="form-container">
                    <form class="col s12 l4 push-l3">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Restaurant Name" id="name" type="text" class="validate">
                                
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Type" id="type" type="text" class="validate">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Rating" id="rating" type="text" class="validate">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Image" id="image" type="text" class="validate">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="submit-form col s12">
                                <input type="submit" id="submit" type="submit" value="Submit Recommendation" class="right">
                            </div>
                        </div>
                    </form>
                    </div>
                </section>
        </div>
        

        <div class="row s6">
            <div class="col s12 m3 l2 push-l1">
                <div class="card">
                    <div class="card-image">
                        <img src="/public/images/boulevard.jpg">
                        <span class="card-title">Boulevard</span>
                    </div>
                    <article class="card-content">
                        <h6>Review</h6>
                        <p>Good food, great ambience, 5/5.</p>
                    </article>
                    <div class="card-action">
                        <a href="https://www.boulevardrestaurant.com/">Boulevard</a>
                    </div>
                </div>
            </div>
            
            <div class="col s12 m3 l2 push-l1">
                <div class="card">
                    <div class="card-image">
                        <img src="/public/images/tacolicious.jpg">
                        <span class="card-title">Tacolicious</span>
                    </div>
                    <article class="card-content">
                        <h6>Review</h6>
                        <p>Good food, great ambience, 5/5.</p>
                    </article>
                    <div class="card-action">
                        <a href="https://www.tacolicious.com/">Tacolicious</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SCRIPTS -->
    <script src="/public/scripts/recommendations.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</body>

</html>