::-webkit-scrollbar {
    width: 0px;
}

body {
    width: 100%;
}
h1,
h2,
h3,
h4,
 {
    font-family: "Montserrat", sans-serif;
}

h4 {
    margin-top: 2em;
}

h5 {
    font-weight:900;
}

.name {
    margin-top: 3.5%;
}

ul a {
    font-family: 'PT Serif', serif;
}

.nav-wrapper {
    background-color: #BC0402;
}

.brand-logo {
    margin-left: 2.5%;
}

.profile-pic {
    margin-top: 20%;
    height: 75px;
    width: 100px;
    border: 2px solid #D4CAB1;
}

.valign-wrapper {
    width: 90%;
}

.about-me {
    background-color: rgba(119, 119, 119, 0.05);
    margin-top: -2em;
    height: 10em;
    /* border-bottom: 2px solid #FF6E69; */
}

.recent-content {
    width: 100%;
    padding-left: 1.5em;
}

.recent-eats {
    margin-top: 2em;
    width: 100%;
}

.recent-header {
    margin-bottom: -1.25em;
}

.recent-restaurants {
    margin-top: 5em;
}

.card-content {
    margin-top: -1em;
}

p {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
    color: #777777;
}

.checked {
    color: #ECBB5C;
}

.row {
    margin-top: 2em;
}
.restaurant-card {
    transition: all .2s ease-in-out;
}
.restaurant-card:hover {
    transform: scale(1.02)
}