::-webkit-scrollbar {
    width: 0px;
}

h1,
h2,
h3,
h4,
 {
    font-family: "Montserrat", sans-serif;
}

h4 {
    margin-top: 2em;
}

h5 {
    font-weight:900;
}

.name {
    margin-top: 3.5%;
}

ul a {
    font-family: 'PT Serif', serif;
}

.nav-wrapper {
    background-color: #BC0402;
}

.brand-logo {
    margin-left: 8.75%;
}

.profile-pic {
    margin-top: 20%;
    height: 75px;
    width: 100px;
    border: 2px solid #D4CAB1;
}


.about-me {
    background-color: rgba(212, 202, 177, 0.125);
    margin-top: -2em;
    height: 10em;
    /* border-bottom: 2px solid #FF6E69; */
}


.recent-eats {
    margin-top: 2em;
}

.recent-restaurants {
    margin-top: 5em;
}



p {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.checked {
    color: #ECBB5C;
}

.row {
    margin-top: 2em;
}
.restaurant-card {
    transition: all .2s ease-in-out;
}
.restaurant-card:hover {
    transform: scale(1.02)
}