::-webkit-scrollbar {
    width: 0px;
}

.nav-wrapper {
    background-color: #BC0402;
}

ul a {
    font-family: 'PT Serif', serif;
}

.brand-logo {
    margin-left: 2%;
}

h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    ;
}

.card-image img {
    height: 150px;
}

.hidden {
    visibility: hidden;
}

.rating:hover .hidden {
    visibility: visible;
    color: #BC0402;
}

p i {
    size: 25%;
    color: rgba(119, 119, 119, 0.05);
}

.form-container {
    background-color:  rgba(119, 119, 119, 0.05);
    padding-top: 5%;
}

::placeholder {
    color: #BC0402;
}

.submit-form input {
    background-color: #BC0402;
    color: white;
    border: transparent;
    height: 2em;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#submit:hover {
    background-color: rgba(119, 119, 119, 0.05);
    color: #BC0402;
    border: 2px solid #BC0402;
}

.row {
    margin-top: 2em;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.card-action a {
    color: #ECBB5C
}

.delete-icon {
    color: #BC0402;
}

.delete-icon:hover {
    cursor: pointer;
}