.nav-wrapper {
    background-color: #BC0402;
}

ul a {
    font-family: 'PT Serif', serif;
}

.brand-logo {
    margin-left: 2%;
}

/* .bg-container {
    background-color: #000000;
    background-image: url("/public/images/sf-background.jpg");
} */

/* .bg-container img {
    
    opacity: 0.5;
} */

.restaurant-cards {
    width: 16.666%;
    border: 2px solid blue;
}

.card-container {
    border: 2px solid red;
}